should allow user to edit ONLY their own info
<!DOCTYPE html>
<html>
  <h1>Edit your profile!</h1>
    <form action='user/edit' method='PATCH'>
    <label for=>
      <input type='text' name='username' placeholder>
    </form>

</html>