<!DOCTYPE html>
<html>
  <h1>Edit your profile!</h1>
  <form action='/edit_profile' method='PATCH'>
    <input type='text' name='username' placeholder='Username:'>
    <br>
    <input type='text' name='bio' placeholder='Bio:'>
    <br>
    <input type='text' name='total_experience' placeholder='Total Experience:'>
    <br>
    <input type='text' name='instrument' placeholder='Instrument:'>
    <br>
    <input type='text' name='city' placeholder='City:'>
    <br>
    <input type='submit' value='Submit'>
  </form>

</html>