<!DOCTYPE html>
<html>
  <h1>Welcome to Musician Finder! </h1>
  <h2>Musician Finder helps you find musicians in your city</p>
  <p> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.





</html>